.App {
  margin-top: 10px;
}

.input-box {
  height: 20px;
  padding: 10px;
  font-size: 20px;
}

.comment-button {
  margin-top: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: blue;
  color: white;
}

.comment-line {
  margin: 5px;
}